[submodule "wiki"]
path = wiki
url = ../laravel-hammer.wiki.git

[submodule "buildSrc"]
path = buildSrc
url = ../hammer-build-src.git

[submodule "hammerTools"]
path = hammerTools
url = ../hammer-tools.git
