[submodule "wiki"]
path = wiki
url = ../laravel-hammer.wiki.git

[submodule "buildSrc"]
path = buildSrc
url = ../hammer-build-src.git

[submodule "hammer-tools"]
path = hammer-tools
url = ../hammer-tools.git
